<a href="https://colab.research.google.com/github/Dudek-exe/PJATK_PAD_2022/blob/LAB02_zadania/04_PAD_praca_domowa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [31]:
import pandas as pd
import numpy as np

from datetime import datetime

df = pd.read_csv('orders.csv', sep = ',')
df['order_date'] =  pd.to_datetime(df['order_date'], format='%Y.%m.%d')

print('1. DataFrame z formatem daty: \n' , df)
print('2. Unikalne rodzaje koszulek: \n', df['tshirt_category'].value_counts())

df = df.apply(lambda x: x.replace({'White':'Wh', 'Black':'Bl', 'Blac':'Bl'}, regex=True))

print('3. Unikalne rodzaje koszulek: \n', df['tshirt_category'].value_counts())

df[['tshirt_colour', 'tshirt_type', 'tshirt_size']] = df["tshirt_category"].apply(lambda x: pd.Series(str(x).split(" ")))

del df["tshirt_category"]
print('4. Nowe kolumny opisujace koszulki: \n', df)

start_date = '2014-12-31'
end_date = '2016-08-01'
mask = (df['order_date'] > start_date) & (df['order_date'] <= end_date)
df2 = df.loc[mask]

print('5. Kolumny spelniajace warunki dat: \n', df2)

1. DataFrame z formatem daty:
       order_date  pages_visited         order_id customer_id  tshirt_category  \
0     2016-09-04              9  HTS-038040-0002      038040  White T-Shirt M
1     2014-11-14             11  HTS-801797-0001      801797  White T-Shirt M
2     2017-02-26             10  HTS-vft1eu-0003      vft1eu  White T-Shirt F
3     2013-12-01             10  HTS-914324-0001      914324      Wh Tshirt F
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r  White T-Shirt M
...          ...            ...              ...         ...              ...
18349 2015-11-13             11  HTS-bat36m-0001      bat36m     Tennis Shirt
18350 2016-10-19              7  HTS-451687-0002      451687  White T-Shirt M
18351 2015-08-30             13  HTS-062455-0001      062455  Black T-Shirt M
18352 2015-08-30             10  HTS-999122-0006      999122  White T-Shirt F
18353 2016-12-22              5  HTS-mobfga-0002      mobfga             Blac

       tshirt_price  tshirt_quantity
0              20.0              1.0
1              20.0              1.0
2              18.0              3.0
3              18.0              1.0
4              20.0              1.0
...             ...              ...
18349          24.0             14.0
18350          20.0              2.0
18351          19.0              2.0
18352          18.0              3.0
18353           NaN              NaN

[18354 rows x 7 columns]
2. Unikalne rodzaje koszulek:
 Hoodie             4282
White T-Shirt M    3877
Black T-Shirt M    3009
White T-Shirt F    2478
Black T-Shirt F    2262
Tennis Shirt       1522
Wh Tshirt M         292
Bl Tshirt M         249
Wh Tshirt F         208
Bl Tshirt F         174
Blac                  1
Name: tshirt_category, dtype: int64
3. Unikalne rodzaje koszulek:
 Hoodie          4282
Wh T-Shirt M    3877
Bl T-Shirt M    3009
Wh T-Shirt F    2478
Bl T-Shirt F    2262
Tennis Shirt    1522
Wh Tshirt M      292
Bl Tshirt M      249
Wh Tshirt F      208
Bl Tshirt F      174
Bl                 1
Name: tshirt_category, dtype: int64
4. Nowe kolumny opisujace koszulki:
       order_date  pages_visited         order_id customer_id  tshirt_price  \
0     2016-09-04              9  HTS-038040-0002      038040          20.0
1     2014-11-14             11  HTS-801797-0001      801797          20.0
2     2017-02-26             10  HTS-vft1eu-0003      vft1eu          18.0
3     2013-12-01             10  HTS-914324-0001      914324          18.0
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r          20.0
...          ...            ...              ...         ...           ...
18349 2015-11-13             11  HTS-bat36m-0001      bat36m          24.0
18350 2016-10-19              7  HTS-451687-0002      451687          20.0
18351 2015-08-30             13  HTS-062455-0001      062455          19.0
18352 2015-08-30             10  HTS-999122-0006      999122          18.0
18353 2016-12-22              5  HTS-mobfga-0002      mobfga           NaN

       tshirt_quantity tshirt_colour tshirt_type tshirt_size
0                  1.0            Wh     T-Shirt           M
1                  1.0            Wh     T-Shirt           M
2                  3.0            Wh     T-Shirt           F
3                  1.0            Wh      Tshirt           F
4                  1.0            Wh     T-Shirt           M
...                ...           ...         ...         ...
18349             14.0        Tennis       Shirt         NaN
18350              2.0            Wh     T-Shirt           M
18351              2.0            Bl     T-Shirt           M
18352              3.0            Wh     T-Shirt           F
18353              NaN            Bl         NaN         NaN

[18354 rows x 9 columns]
5. Kolumny spelniajace warunki dat:
       order_date  pages_visited         order_id customer_id  tshirt_price  \
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r          20.0
5     2016-01-15              9  HTS-061311-0003      061311          17.5
12    2015-11-24             15  HTS-je57lh-0001      je57lh          23.0
13    2015-10-10              8  HTS-252675-0002      252675          20.0
15    2015-11-29             15  HTS-heb26i-0001      heb26i          17.5
...          ...            ...              ...         ...           ...
18345 2016-03-08              8  HTS-455106-0001      455106          17.5
18346 2016-03-26             11  HTS-626336-0003      626336          24.0
18349 2015-11-13             11  HTS-bat36m-0001      bat36m          24.0
18351 2015-08-30             13  HTS-062455-0001      062455          19.0
18352 2015-08-30             10  HTS-999122-0006      999122          18.0

       tshirt_quantity tshirt_colour tshirt_type tshirt_size
4                  1.0            Wh     T-Shirt           M
5                  4.0            Bl     T-Shirt           F
12                 3.0        Hoodie         NaN         NaN
13                 3.0            Wh     T-Shirt           M
15                 1.0            Bl     T-Shirt           F
...                ...           ...         ...         ...
18345              1.0            Bl     T-Shirt           F
18346              1.0        Tennis       Shirt         NaN
18349             14.0        Tennis       Shirt         NaN
18351              2.0            Bl     T-Shirt           M
18352              3.0            Wh     T-Shirt           F

[8775 rows x 9 columns]

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [62]:
import pandas as pd
import numpy as np

from datetime import datetime

df_customers = pd.read_excel('customers.xlsx')
df_orders = pd.read_csv('orders.csv', sep = ',')

print('1. Rozmiar ramki orders' , df_orders.shape)
print('   Rozmiar ramki customers ', df_customers.shape)

df_customers.rename(columns={'customerID': 'customer_id'}, inplace = True)
print(df_customers)

print ('Polaczone ramki')
print (pd.merge(df_customers, df_orders, left_on='customer_id', right_on='customer_id', how='left'))

1. Rozmiar ramki orders (18354, 7)
   Rozmiar ramki customers  (18766, 6)
      customer_id gender            birthdate  \
0          886900      M  1953-10-05 00:00:00
1           38040      F  1946-12-21 00:00:00
2          698696      F  1983-12-01 00:00:00
3          sn9keh      M  1990-09-23 00:00:00
4          496907      M             1869/6/8
...           ...    ...                  ...
18761      m1yyx6      M  1999-08-19 00:00:00
18762      744375      F  1941-10-22 00:00:00
18763      t6pxeo      F  1950-05-10 00:00:00
18764      930049      F  1979-10-22 00:00:00
18765      950728      M  1997-09-18 00:00:00

                                              user_agent       ip_address  \
0      Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...     69.8.136.110
1      Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...    67.74.254.174
2      Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...    95.135.70.206
3      Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...    129.50.205.26
4      Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...     81.98.234.29
...                                                  ...              ...
18761  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...     95.142.4.155
18762  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...  119.219.176.225
18763  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   196.178.254.85
18764  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   118.173.208.45
18765  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   171.178.68.155

       campaign
0         False
1         False
2         False
3         False
4         False
...         ...
18761      True
18762     False
18763     False
18764     False
18765     False

[18766 rows x 6 columns]
Polaczone ramki
      customer_id gender            birthdate  \
0          886900      M  1953-10-05 00:00:00
1           38040      F  1946-12-21 00:00:00
2          698696      F  1983-12-01 00:00:00
3          sn9keh      M  1990-09-23 00:00:00
4          496907      M             1869/6/8
...           ...    ...                  ...
19981      m1yyx6      M  1999-08-19 00:00:00
19982      744375      F  1941-10-22 00:00:00
19983      t6pxeo      F  1950-05-10 00:00:00
19984      930049      F  1979-10-22 00:00:00
19985      950728      M  1997-09-18 00:00:00

                                              user_agent       ip_address  \
0      Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...     69.8.136.110
1      Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...    67.74.254.174
2      Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...    95.135.70.206
3      Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...    129.50.205.26
4      Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...     81.98.234.29
...                                                  ...              ...
19981  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...     95.142.4.155
19982  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...  119.219.176.225
19983  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   196.178.254.85
19984  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   118.173.208.45
19985  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   171.178.68.155

       campaign  order_date  pages_visited         order_id  tshirt_category  \
0         False         NaN            NaN              NaN              NaN
1         False         NaN            NaN              NaN              NaN
2         False         NaN            NaN              NaN              NaN
3         False  2016/09/16            9.0  HTS-sn9keh-0001  White T-Shirt M
4         False         NaN            NaN              NaN              NaN
...         ...         ...            ...              ...              ...
19981      True         NaN            NaN              NaN              NaN
19982     False         NaN            NaN              NaN              NaN
19983     False         NaN            NaN              NaN              NaN
19984     False         NaN            NaN              NaN              NaN
19985     False         NaN            NaN              NaN              NaN

       tshirt_price  tshirt_quantity
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3              20.0              1.0
4               NaN              NaN
...             ...              ...
19981           NaN              NaN
19982           NaN              NaN
19983           NaN              NaN
19984           NaN              NaN
19985           NaN              NaN

[19986 rows x 12 columns]

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.