<a href="https://colab.research.google.com/github/Dudek-exe/PJATK_PAD_2022/blob/main/04_PAD_praca_domowa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [54]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('orders.csv', sep = ',')
df['order_date'] =  pd.to_datetime(df['order_date'], format='%Y.%m.%d')

print('1. DataFrame z formatem daty: \n' , df)
print('2. Unikalne rodzaje koszulek: \n', df['tshirt_category'].value_counts())

df['tshirt_category'] = df['tshirt_category'].apply(lambda x: '{0:0>8}'.format(x)))

1. DataFrame z formatem daty:
       order_date  pages_visited         order_id customer_id  tshirt_category  \
0     2016-09-04              9  HTS-038040-0002      038040  White T-Shirt M
1     2014-11-14             11  HTS-801797-0001      801797  White T-Shirt M
2     2017-02-26             10  HTS-vft1eu-0003      vft1eu  White T-Shirt F
3     2013-12-01             10  HTS-914324-0001      914324      Wh Tshirt F
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r  White T-Shirt M
...          ...            ...              ...         ...              ...
26547 2016-11-19             13  HTS-n641x4-0001      n641x4  White T-Shirt M
26548 2016-08-02              4  HTS-q0nm12-0001      q0nm12  White T-Shirt M
26549 2017-03-09              6  HTS-sby0iz-0001      sby0iz  White T-Shirt M
26550 2016-10-04             11  HTS-uz70x4-0001      uz70x4           Hoodie
26551 2016-12-16              9  HTS-xnbc22-0001      xnbc22  Black T-Shirt M

       tshirt_price  tshirt_quantity
0              20.0                1
1              20.0                1
2              18.0                3
3              18.0                1
4              20.0                1
...             ...              ...
26547          20.0                1
26548          20.0                1
26549          20.0                1
26550          23.0                5
26551          19.0                3

[26552 rows x 7 columns]
2. Unikalne rodzaje koszulek:
 Hoodie             6229
White T-Shirt M    5547
Black T-Shirt M    4454
White T-Shirt F    3513
Black T-Shirt F    3248
Tennis Shirt       2153
Wh Tshirt M         462
Bl Tshirt M         377
Wh Tshirt F         312
Bl Tshirt F         257
Name: tshirt_category, dtype: int64

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.